:root {
  font-family: "Onest", sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

button {
  font-family: "Onest", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

hr {
  margin: 0;
  border-width: 1px;
  border-color: #595959;
}

.root_cl{
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #845cc361, #fff0);
}

.sect {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 80px 0;
}

@media (max-width: 1000px) {
  .sect {
    max-width: none;
    padding: 80px 20px;
    width: auto;
    margin: 0;
  }
}