nav {
    z-index: 1;
    width: calc(100% - 60px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    padding: 15px 0;
    position: fixed;
    align-items: center;
    user-select: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

    & li {
        display: flex;
        text-align: center;
    }
}

.active {
    background: var(--background-color-active);
}

nav li a {
    transition: all 0.3s ease;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 8px;
    min-width: 55px;
    text-decoration: none;
    color: var(--white-font-color);
}

@media (max-width: 740px) {
    nav ul {
        gap: 6px;
    
        & li {
            font-size: 0.55rem;
        }
    }
}